*, *::before, *::after {
  box-sizing: border-box;
}

/*UNIVERSAL STYLES*/
html, body {
  color: white;
  background-color: black;
  font-family: 'Arial', sans-serif;
  line-height: 1.5;
  /*addition for achieving responsiveness*/
  min-width: 290px; 
  
}

/*HEADERS*/
header h2 {
  font-size: 1.8rem;
}

/*NAVBAR HEADER*/
#navbar header {
  font-size: 1rem;
  text-align: center;
  
  
}

header h1 {
  margin: 20px;
}

#navbar {
  position: fixed; /* Fixed Sidebar (stay in place on scroll) */
  height: 100%;
  min-width: 290px;
  width: 300px;
  top: 0px; /*Stay on the top*/
  left: 0px; /*Stay on the left*/
  border-right: 2px solid grey;
  
  
  
}


/*This stretches the li's inside the ul all to the full width of the sidenav container*/
#navbar ul {
  padding: 0;
}


/*EVERY LI ELEMENT IN NAVBAR*/
#navbar li {
  display: block;
  border-top: 1px solid grey;
  list-style: none;
  padding-top: 5px;
  padding-bottom: 5px;
  font-size: 1rem;
  text-align: center;
  border-left: hidden;
  

}


/*LINKS INSIDE NAVBAR*/
#navbar a {
  text-decoration: none;
  color: white;
  
}


/*CHANGE STYLE OF LINKS WHEN HOVERING OVER THEM OR CLICKING THEM*/
#navbar a:hover, a:focus {
  opacity: 0.60;
}

/*SIDEBAR BECOMES TOPBAR ON smaller screens*/
@media only screen and (max-width: 815px) {
  #navbar {
    
    position: absolute;
    overflow-y: scroll;
    top: 0;
    padding: 0;
    margin: 0;
    width: 100%;
    max-height: 256px;
    z-index: 1;
    border-bottom: 2px solid;
    
    } 
  
}


/*MAIN STYLING*/

main {
  display: block;
  position: absolute;
  padding-top: 30px;
  margin-left: 310px;
  margin-right: 2rem;
  overflow-x: hidden; /* Disable horizontal scroll */
  width: 70%;
}

/*CHANGES NEEDED ON THE MAIN CONTENT WHEN THE SIDEBAR BECOMES TOPBAR*/
@media only screen and (max-width: 815px) {
  main {
    position: relative;
    margin-left: 0px;
    margin-top: 270px;
    width: 100%;
    }
  
}


table {
  table-layout: fixed;
  width: 80%;
  padding: 5px;
  margin: auto;

}



table, th, td {
  border: 2px solid black;
  border-collapse: collapse;
  padding: 0.45rem;
  color: black;
}

th, td {
  background-color: #D4D4D4;
}

#empty-header {
  background-color: black;
}

.header-row, .header-col {
  background: #5E5E5E;
  color: white;
}


td {
  text-align: center;
  
}

/*TABLE NEEDS TO BE ADJUSTED ON SMALLER SCREENS so the text doesn't overflow*/
@media only screen and (max-width: 815px) {
  table {
    width: 100%;
    font-size: 11px;
    overflow: hidden;
    
  }
}


.main-section {
  padding-top: 0.45rem;
  padding-bottom: 0.45rem;
}

.main-section a {
  color: blue;

}

.main-section a:hover {
  color: yellow;

}

code {
  display: block;
  background-color: #D4D4D4;
  padding: 0.45rem;
  color: black;
  
}


